#about {
  position: relative;
}

.section__text__p1 {
  text-align: center;
}

.title {
  font-size: 3rem;
  text-align: center;
}

.section-container {
  display: flex;
  margin-left: 15rem;
  gap: 4rem;
  height: 80%;
  width: 70%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.about-pic {
  border-radius: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

article .icon {
  cursor: default;
}

.icon {
  cursor: pointer;
  height: 2rem;
}

.text-container {
  text-align: justify;
}
